@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* general variables */
  --boxShadow: 0 0 5px rgb(250, 234, 230);
  --boxShadow2: 0px 0px 50px 20px rgba(150, 150, 150, 0.3);
  --transition: all 0.3s linear;
  --transition2: all 0.3s ease-out;
  --border: 0.5px solid grey;
  --border2: 2px solid rgb(28, 28, 192);
  --border3: 2px solid rgb(9, 224, 88);

  /* variables for this project */
  --White: hsl(0, 0%, 100%);
  --Linear-Gradient: Linear-Gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --Linear-Gradient-bottom: Linear-Gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsla(237, 63%, 64%)
  );
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
  background: url(../images/bg-top.svg) no-repeat;
  background-position: top right -200px;
  background-size: contain;
  background-color: var(--Very-Light-Grayish-Blue);
  display: grid;
  font-family: "Montserrat", "Open Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  place-items: center;
}

.header-section {
  color: var(--Grayish-Blue);
  margin: 4rem 0;
  text-align: center;
}

.form-group {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 3rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

.checkbox-label {
  cursor: pointer;
}

.ball-label {
  align-items: center;
  background: var(--Linear-Gradient);
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  justify-content: flex-end;
  padding: 0 2px;
  width: 2.7rem;
}

.ball {
  background: var(--White);
  border-radius: 50%;
  height: 1.2rem;
  transition: var(--transition);
  width: 1.2rem;
}

#checkbox:checked + .ball-label .ball {
  transform: translateX(-19px);
}

.card {
  background: var(--White);
  border-radius: 0.7rem;
  box-shadow: 0 0 20px 0px hsla(233, 13%, 49%, 0.2);
  color: var(--Dark-Grayish-Blue);
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 2rem;
  text-align: center;
}

.card h1 {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin: 1rem 0 1.5rem;
}

.price {
  font-size: 4.5rem;
}

.card p {
  border-top: var(--border);
  color: var(--Grayish-Blue);
  padding: 1rem;
}

.card p:first-of-type {
  border: none;
  padding: 0;
  margin: 0;
}

.card p:last-of-type {
  border-bottom: var(--border);
}

.btn {
  background: var(--Linear-Gradient);
  border-radius: 0.5rem;
  border: none;
  color: var(--White);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  outline: none;
  padding: 0.7rem 3rem;
  text-transform: uppercase;
}

.btn:hover {
  background: none;
  color: var(--Grayish-Blue);
  outline: 1px solid var(--Dark-Grayish-Blue);
  transition: var(--transition2);
}

.professional {
  background: var(--Linear-Gradient-bottom);
  color: var(--White);
}

.professional p {
  border-color: var(--Very-Light-Grayish-Blue);
  color: var(--White);
}

.professional p:last-of-type {
  border-color: var(--Very-Light-Grayish-Blue);
}

.professional .btn {
  background: var(--White);
  color: var(--Dark-Grayish-Blue);
}

.professional .btn:hover {
  background: none;
  color: var(--White);
  outline: 1px solid var(--Very-Light-Grayish-Blue);
}

/* media query  */
@media screen and (min-width: 65rem) {
  body {
    background: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
  }

  .card {
    padding: 2rem 3rem;
  }

  .basic {
    border-radius: 0.7rem 0 0 0.7rem;
  }

  .master {
    border-radius: 0 0.7rem 0.7rem 0;
  }

  .price-section {
    display: flex;
    gap: 2rem;
  }

  .professional {
    transform: scale(1.2);
  }
}
/* my profile styles */
.my-profile {
  background: var(--Linear-Gradient);
  color: var(--White);
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.my-profile > a {
  cursor: pointer;
  color: hsl(51, 79%, 45%);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: var(--White);
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 500px) {
  .my-profile {
    font-size: 12px;
  }

  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}

.testing {
  margin: 0 0;
  border: var(--border2);
}
